/* src/app/app.component.css */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.toolbar-logo {
  height: 7vh;
  padding-top:0.5vh;
  padding-bottom:0.5vh;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 8px;
}