/* src/app/app.component.css */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-sidenav-container .app-background {
  background-image: url('/assets/images/simple_app_background_fantasyland.png') !important;
  height: 100vh !important; /* Full viewport height */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.toolbar-logo {
  @media (min-width: 600px) {
    height: 64px; 
  }
  @media (max-width: 599px) {
    height: 56px; 
  }

}