/* src/app/app.component.css */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.menu-button {
  display: inline; 
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-practice-title {
  color: whitesmoke
}