
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$simple-slo-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$orange-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($simple-slo-app-theme);
  --background-image-url: url('assets/images/simple_app_background_fantasyland.png');
}

.toolbar {
  // Override the checkbox hover state to indicate that this is a dangerous setting. No need to
  // target the internal selectors for the elements that use these variables.
  --mat-toolbar-container-background-color: #3d3b67;
  --mat-toolbar-standard-height: 8vh;
  --mat-toolbar-mobile-height: 8vh;
}

.mat-sidenav-container .app-background {
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  min-height: 92vh;
  background-repeat: no-repeat;
}


// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($simple-slo-app-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($simple-slo-app-theme);
