.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
  
  input {
    padding: 5px;
    margin: 10px;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  slo-sentence {
    font-size: 1.50em;
  }