<div class="container">
    <mat-card style="background-color: whitesmoke" appearance="outlined">
        <mat-card-content>    
            <p style="font-size: 1.25em"><strong>{{ sloveneWords.join(' ') + punctuation }}</strong></p>
            <p>{{ hint }}</p>
        </mat-card-content>
      </mat-card>

  
    <br>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Enter the missing word</mat-label>
          <input matInput (keydown.enter)="checkAnswer()"[formControl]="userInput">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="checkAnswer()">Check</button>

</div>  